QueryList=activeconn,tupfetched,tupinserted,tupupdated,tupdeleted,xactcommit,xactrollback,exclusivelock,accessexclusivelock,accesssharelock,rowsharelock,rowexclusivelock,shareupdateexclusivelock,sharerowexclusivelock,checkpoints_timed,checkpoints_req,buffers_checkpoint,buffers_clean,maxwritten_clean,buffers_backend,buffers_alloc	

#statistic of database
activeconn.Query=select sum(numbackends) from pg_stat_database
tupreturned.Query=select sum(tup_returned) from pg_stat_database
tupfetched.Query=select sum(tup_fetched) from pg_stat_database
tupinserted.Query=select sum(tup_inserted) from pg_stat_database
tupupdated.Query=select sum(tup_updated) from pg_stat_database
tupdeleted.Query=select sum(tup_deleted) from pg_stat_database
xactcommit.Query=SELECT sum(xact_commit) FROM pg_stat_database
xactrollback.Query=SELECT sum(xact_rollback) FROM pg_stat_database

#locks
exclusivelock.Query=SELECT count(*) FROM pg_locks where mode='ExclusiveLock'
accessexclusivelock.Query=SELECT count(*) FROM pg_locks where mode='AccessExclusiveLock'
accesssharelock.Query=SELECT count(*) FROM pg_locks where mode='AccessShareLock'
rowsharelock.Query=SELECT count(*) FROM pg_locks where mode='RowShareLock'
rowexclusivelock.Query=SELECT count(*) FROM pg_locks where mode='RowExclusiveLock'
shareupdateexclusivelock.Query=SELECT count(*) FROM pg_locks where mode='ShareUpdateExclusiveLock'
sharerowexclusivelock.Query=SELECT count(*) FROM pg_locks where mode='ShareRowExclusiveLock'

checkpoints_timed.Query=select checkpoints_timed from pg_stat_bgwriter
checkpoints_req.Query=select checkpoints_req from pg_stat_bgwriter
buffers_checkpoint.Query=select buffers_checkpoint from pg_stat_bgwriter
buffers_clean.Query=select buffers_clean from pg_stat_bgwriter
maxwritten_clean.Query=select maxwritten_clean from pg_stat_bgwriter
buffers_backend.Query=select buffers_backend from pg_stat_bgwriter
buffers_alloc.Query=select buffers_alloc from pg_stat_bgwriter	
