QueryList=cachehit,iopending,avgwaittime,dbsize,logsize,logusedsize,pagereads,pagewrites

#statistic of database
cachehit.Query=SELECT 100*(MIN(CAST(cntr_value as float))/MAX(CAST(cntr_value as float))) FROM sys.dm_os_performance_counters WHERE counter_name='Buffer cache hit ratio' OR counter_name='Buffer cache hit ratio base'
iopending.Query=SELECT COUNT(*) FROM sys.dm_io_pending_io_requests
avgwaittime.Query=SELECT (MAX(CAST(cntr_value as float))/MIN(CAST(cntr_value as float))) FROM sys.dm_os_performance_counters WHERE (counter_name='Average Wait Time (ms)' OR counter_name='Average Wait Time Base') AND instance_name='_Total'
dbsize.Query=SELECT cntr_value FROM master.sys.dm_os_performance_counters WHERE counter_name='Data File(s) Size (KB)' AND instance_name='_Total'
logsize.Query=SELECT cntr_value FROM master.sys.dm_os_performance_counters WHERE counter_name='Log File(s) Size (KB)' AND instance_name='_Total'
logusedsize.Query=SELECT cntr_value FROM master.sys.dm_os_performance_counters WHERE counter_name='Log File(s) Used Size (KB)' AND instance_name='_Total'
pagereads.Query=SELECT cntr_value FROM master.sys.dm_os_performance_counters WHERE counter_name='Page reads/sec' AND instance_name=''
pagewrites.Query=SELECT cntr_value FROM master.sys.dm_os_performance_counters WHERE counter_name='Page writes/sec' AND instance_name=''
